[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gfer"]
	path = gfer
	url = https://github.com/yuanchao-xu/gfer
[submodule "hyfo"]
	path = hyfo
	url = https://github.com/yuanchao-xu/hyfo
